.elementor-kit-6{--e-global-color-primary:#FFAA16;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-7442fed:#FFFFFF;--e-global-color-01f6a4e:#FFFFFF40;--e-global-color-44ee991:#1C1E23;--e-global-color-bc65892:#1C1E23;--e-global-typography-primary-font-size:16px;--e-global-typography-primary-line-height:36px;--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Rubik";--e-global-typography-text-font-size:18px;--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-weight:500;--e-global-typography-8a609d9-font-family:"Titillium Web";--e-global-typography-8a609d9-font-size:1.125rem;--e-global-typography-8a609d9-font-weight:600;--e-global-typography-8a609d9-line-height:1.75rem;--e-global-typography-4901096-font-family:"Titillium Web";--e-global-typography-4901096-font-size:1.25rem;--e-global-typography-4901096-font-weight:600;--e-global-typography-4901096-line-height:1.75rem;--e-global-typography-e5f7704-font-family:"Titillium Web";--e-global-typography-e5f7704-font-size:1.5rem;--e-global-typography-e5f7704-font-weight:600;--e-global-typography-e5f7704-line-height:1.875rem;--e-global-typography-d1d3070-font-family:"Titillium Web";--e-global-typography-d1d3070-font-size:1.875rem;--e-global-typography-d1d3070-font-weight:600;--e-global-typography-d1d3070-line-height:2.25rem;--e-global-typography-c32606c-font-family:"Titillium Web";--e-global-typography-c32606c-font-size:2.25rem;--e-global-typography-c32606c-font-weight:600;--e-global-typography-c32606c-line-height:2.5rem;--e-global-typography-e636095-font-family:"Titillium Web";--e-global-typography-e636095-font-size:2.5rem;--e-global-typography-e636095-font-weight:600;--e-global-typography-e636095-line-height:3.5rem;--e-global-typography-104a366-font-family:"Titillium Web";--e-global-typography-104a366-font-size:3rem;--e-global-typography-104a366-font-weight:600;--e-global-typography-104a366-line-height:1.25em;--e-global-typography-4ad95b7-font-family:"Titillium Web";--e-global-typography-4ad95b7-font-size:4.5rem;--e-global-typography-4ad95b7-font-weight:600;--e-global-typography-4ad95b7-line-height:1.25em;--e-global-typography-03fe34d-font-family:"Titillium Web";--e-global-typography-03fe34d-font-size:6rem;--e-global-typography-03fe34d-font-weight:600;--e-global-typography-03fe34d-line-height:1em;--e-global-typography-b1abca1-font-family:"Titillium Web";--e-global-typography-b1abca1-font-size:1.2rem;--e-global-typography-b1abca1-font-weight:600;--e-global-typography-b1abca1-line-height:1em;--e-global-typography-b1abca1-letter-spacing:0em;color:#999B9F;font-family:"Rubik", Sans-serif;font-size:18px;font-weight:400;line-height:34px;background-color:#1C1E22;}.elementor-kit-6 a{color:var( --e-global-color-primary );}.elementor-kit-6 a:hover{color:#FFBA41;}.elementor-kit-6 h1{color:#FFFFFF;font-family:var( --e-global-typography-4ad95b7-font-family ), Sans-serif;font-size:var( --e-global-typography-4ad95b7-font-size );font-weight:var( --e-global-typography-4ad95b7-font-weight );line-height:var( --e-global-typography-4ad95b7-line-height );letter-spacing:var( --e-global-typography-4ad95b7-letter-spacing );word-spacing:var( --e-global-typography-4ad95b7-word-spacing );}.elementor-kit-6 h2{color:#FFFFFF;font-family:var( --e-global-typography-104a366-font-family ), Sans-serif;font-size:var( --e-global-typography-104a366-font-size );font-weight:var( --e-global-typography-104a366-font-weight );line-height:var( --e-global-typography-104a366-line-height );letter-spacing:var( --e-global-typography-104a366-letter-spacing );word-spacing:var( --e-global-typography-104a366-word-spacing );}.elementor-kit-6 h3{color:var( --e-global-color-7442fed );font-family:var( --e-global-typography-e636095-font-family ), Sans-serif;font-size:var( --e-global-typography-e636095-font-size );font-weight:var( --e-global-typography-e636095-font-weight );line-height:var( --e-global-typography-e636095-line-height );letter-spacing:var( --e-global-typography-e636095-letter-spacing );word-spacing:var( --e-global-typography-e636095-word-spacing );}.elementor-kit-6 h4{color:var( --e-global-color-7442fed );font-family:var( --e-global-typography-c32606c-font-family ), Sans-serif;font-size:var( --e-global-typography-c32606c-font-size );font-weight:var( --e-global-typography-c32606c-font-weight );line-height:var( --e-global-typography-c32606c-line-height );letter-spacing:var( --e-global-typography-c32606c-letter-spacing );word-spacing:var( --e-global-typography-c32606c-word-spacing );}.elementor-kit-6 h5{color:var( --e-global-color-7442fed );font-family:var( --e-global-typography-d1d3070-font-family ), Sans-serif;font-size:var( --e-global-typography-d1d3070-font-size );font-weight:var( --e-global-typography-d1d3070-font-weight );line-height:var( --e-global-typography-d1d3070-line-height );letter-spacing:var( --e-global-typography-d1d3070-letter-spacing );word-spacing:var( --e-global-typography-d1d3070-word-spacing );}.elementor-kit-6 h6{color:var( --e-global-color-7442fed );font-family:var( --e-global-typography-e5f7704-font-family ), Sans-serif;font-size:var( --e-global-typography-e5f7704-font-size );font-weight:var( --e-global-typography-e5f7704-font-weight );line-height:var( --e-global-typography-e5f7704-line-height );letter-spacing:var( --e-global-typography-e5f7704-letter-spacing );word-spacing:var( --e-global-typography-e5f7704-word-spacing );}.elementor-kit-6 button,.elementor-kit-6 input[type="button"],.elementor-kit-6 input[type="submit"],.elementor-kit-6 .elementor-button{font-family:var( --e-global-typography-b1abca1-font-family ), Sans-serif;font-size:var( --e-global-typography-b1abca1-font-size );font-weight:var( --e-global-typography-b1abca1-font-weight );line-height:var( --e-global-typography-b1abca1-line-height );letter-spacing:var( --e-global-typography-b1abca1-letter-spacing );word-spacing:var( --e-global-typography-b1abca1-word-spacing );color:var( --e-global-color-bc65892 );background-color:var( --e-global-color-primary );border-radius:8px 8px 8px 8px;padding:25px 50px 23px 50px;}.elementor-kit-6 button:hover,.elementor-kit-6 button:focus,.elementor-kit-6 input[type="button"]:hover,.elementor-kit-6 input[type="button"]:focus,.elementor-kit-6 input[type="submit"]:hover,.elementor-kit-6 input[type="submit"]:focus,.elementor-kit-6 .elementor-button:hover,.elementor-kit-6 .elementor-button:focus{color:var( --e-global-color-7442fed );}.elementor-kit-6 img{border-radius:8px 8px 8px 8px;}.elementor-kit-6 label{color:var( --e-global-color-text );font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-6 input:not([type="button"]):not([type="submit"]),.elementor-kit-6 textarea,.elementor-kit-6 .elementor-field-textual{font-size:16px;line-height:24px;color:var( --e-global-color-7442fed );accent-color:var( --e-global-color-primary );background-color:var( --e-global-color-bc65892 );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-secondary );border-radius:5px 5px 5px 5px;padding:14px 16px 14px 16px;}.elementor-kit-6 input:focus:not([type="button"]):not([type="submit"]),.elementor-kit-6 textarea:focus,.elementor-kit-6 .elementor-field-textual:focus{border-style:solid;border-color:var( --e-global-color-primary );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}.e-con{--container-max-width:1300px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-6 h1{font-size:var( --e-global-typography-4ad95b7-font-size );line-height:var( --e-global-typography-4ad95b7-line-height );letter-spacing:var( --e-global-typography-4ad95b7-letter-spacing );word-spacing:var( --e-global-typography-4ad95b7-word-spacing );}.elementor-kit-6 h2{font-size:var( --e-global-typography-104a366-font-size );line-height:var( --e-global-typography-104a366-line-height );letter-spacing:var( --e-global-typography-104a366-letter-spacing );word-spacing:var( --e-global-typography-104a366-word-spacing );}.elementor-kit-6 h3{font-size:var( --e-global-typography-e636095-font-size );line-height:var( --e-global-typography-e636095-line-height );letter-spacing:var( --e-global-typography-e636095-letter-spacing );word-spacing:var( --e-global-typography-e636095-word-spacing );}.elementor-kit-6 h4{font-size:var( --e-global-typography-c32606c-font-size );line-height:var( --e-global-typography-c32606c-line-height );letter-spacing:var( --e-global-typography-c32606c-letter-spacing );word-spacing:var( --e-global-typography-c32606c-word-spacing );}.elementor-kit-6 h5{font-size:var( --e-global-typography-d1d3070-font-size );line-height:var( --e-global-typography-d1d3070-line-height );letter-spacing:var( --e-global-typography-d1d3070-letter-spacing );word-spacing:var( --e-global-typography-d1d3070-word-spacing );}.elementor-kit-6 h6{font-size:var( --e-global-typography-e5f7704-font-size );line-height:var( --e-global-typography-e5f7704-line-height );letter-spacing:var( --e-global-typography-e5f7704-letter-spacing );word-spacing:var( --e-global-typography-e5f7704-word-spacing );}.elementor-kit-6 button,.elementor-kit-6 input[type="button"],.elementor-kit-6 input[type="submit"],.elementor-kit-6 .elementor-button{font-size:var( --e-global-typography-b1abca1-font-size );line-height:var( --e-global-typography-b1abca1-line-height );letter-spacing:var( --e-global-typography-b1abca1-letter-spacing );word-spacing:var( --e-global-typography-b1abca1-word-spacing );}.elementor-kit-6 label{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-6{--e-global-typography-d1d3070-font-size:1.25rem;--e-global-typography-c32606c-font-size:1.56rem;--e-global-typography-e636095-font-size:1.95rem;--e-global-typography-104a366-font-size:2.44rem;--e-global-typography-4ad95b7-font-size:3.05rem;--e-global-typography-03fe34d-font-size:3.7rem;}.elementor-kit-6 h1{font-size:var( --e-global-typography-4ad95b7-font-size );line-height:var( --e-global-typography-4ad95b7-line-height );letter-spacing:var( --e-global-typography-4ad95b7-letter-spacing );word-spacing:var( --e-global-typography-4ad95b7-word-spacing );}.elementor-kit-6 h2{font-size:var( --e-global-typography-104a366-font-size );line-height:var( --e-global-typography-104a366-line-height );letter-spacing:var( --e-global-typography-104a366-letter-spacing );word-spacing:var( --e-global-typography-104a366-word-spacing );}.elementor-kit-6 h3{font-size:var( --e-global-typography-e636095-font-size );line-height:var( --e-global-typography-e636095-line-height );letter-spacing:var( --e-global-typography-e636095-letter-spacing );word-spacing:var( --e-global-typography-e636095-word-spacing );}.elementor-kit-6 h4{font-size:var( --e-global-typography-c32606c-font-size );line-height:var( --e-global-typography-c32606c-line-height );letter-spacing:var( --e-global-typography-c32606c-letter-spacing );word-spacing:var( --e-global-typography-c32606c-word-spacing );}.elementor-kit-6 h5{font-size:var( --e-global-typography-d1d3070-font-size );line-height:var( --e-global-typography-d1d3070-line-height );letter-spacing:var( --e-global-typography-d1d3070-letter-spacing );word-spacing:var( --e-global-typography-d1d3070-word-spacing );}.elementor-kit-6 h6{font-size:var( --e-global-typography-e5f7704-font-size );line-height:var( --e-global-typography-e5f7704-line-height );letter-spacing:var( --e-global-typography-e5f7704-letter-spacing );word-spacing:var( --e-global-typography-e5f7704-word-spacing );}.elementor-kit-6 button,.elementor-kit-6 input[type="button"],.elementor-kit-6 input[type="submit"],.elementor-kit-6 .elementor-button{font-size:var( --e-global-typography-b1abca1-font-size );line-height:var( --e-global-typography-b1abca1-line-height );letter-spacing:var( --e-global-typography-b1abca1-letter-spacing );word-spacing:var( --e-global-typography-b1abca1-word-spacing );}.elementor-kit-6 label{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//** Elementor Widget Styles Overwrite **/
.elementor-icon-box-title span,
p.elementor-icon-box-description {
    line-height: 1em;
}
.elementor-field-textual:hover {
    border-color: var(--e-global-color-primary) !important;
}

/** Customer Help Classes **/
.grayscale {
    filter: grayscale(1);
}
.color--global {
    color: var(--e-global-color-primary);
}


/** Back To Top Styles **/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    
    position: fixed;
    bottom: -100px;
    right: 20px;
    transition: all 0.3s ease-in-out;
}
#back-to-top.visible {
    bottom: 20px;
}
#back-to-top:hover {
    transform: scale(1.05);
    background: var(--e-global-color-primary);
}

.grecaptcha-logo,
.grecaptcha-badge {
    display: none;
}

/** Yoast Breadcrumb Widget Styles Overwrite **/
#breadcrumbs a {
    transition: all .3s ease;
}
#breadcrumbs span.breadcrumb_last {
    color: var(--e-global-color-primary);
}

#post-content a {
    color: #CCC;
    transition: all .3s ease;
    text-decoration: underline;
    text-decoration-color: #555;
}
#post-content a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--e-global-color-primary);
}
#post-content b,
#post-content strong {
    color: #CCC;
}
#post-content li {
    list-style: none;
}
#post-content li::before {
    /* Unicode for a bullet */
    content: "\2022";
    /* Styles for Indentation*/
    color: var(--e-global-color-primary);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
}



/* Target all heading tags (h2, h3) within .elementor-widget-container */
#post-content .elementor-widget-container h2, 
#post-content .elementor-widget-container h3,
#post-content .elementor-widget-container h4, 
#post-content .elementor-widget-container h5,
#post-content .elementor-widget-container h6 {
    margin-top: 60px;
}

/* Exclude the first heading tag that comes right after .elementor-widget-container */
#post-content .elementor-widget-container > h2:first-child,
#post-content .elementor-widget-container > h3:first-child,
#post-content .elementor-widget-container > h4:first-child,
#post-content .elementor-widget-container > h5:first-child,
#post-content .elementor-widget-container > h6:first-child {
    margin-top: 0;
}


footer li a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--e-global-color-primary);
}


/** Custom Elementor  Button **/
.elementor-button span {
    z-index: 1;
}
.elementor-button {
    position: relative;
    overflow: hidden;
}
.elementor-button:after {
    background: red;
    content: '';
    height: 100%;
    width: 20%;
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    background: rgba(0,0,0,.1);
    transform: skewX(-22deg);
    transition: all .5s ease;
}

.elementor-button:hover:after {
    width: 100%;
    right: 0;
    transform: skewX(0deg);
    background: var(--e-global-color-bc65892);
}


.bg-shape-1 {
    background-image: url('/images/b-shape-1.png');
    background-position: bottom right;
}
.bg-shape-2 {
    background-image: url('/images/b-shape-2.png');
    background-size: auto 90%;
    background-position: top right;
}/* End custom CSS */